{% set h1 = "div" %} {% set page_description = article.description %} {% extends "main.html" %} {% block content %}
<article class="article-outer">
    <div class="article-header">
        <h2 class="article-title">{{article.title}}</h2>
        <div class="article-subheader">
            Diposting pada {{article.publish_date|format_datetime(pattern="D MMMM YYYY, HH:mm")}}
        </div>
    </div>
    <div class="article-preview">
        <p>
            {{article.content|raw}}
        </p>
    </div>
</article>
{% endblock %} {% block opengraph %}
<meta property="og:title" content="{{title}}" />
<meta property="og:description" content="{{description}}" />
<meta property="og:url" content="{{current_url}}" /> {% for og in article.open_graph %}
<meta property="og:{{og.tag}}" content="{{og.content}}" /> {% endfor %} {% endblock %}