<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page_title}}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@400;700&family=Oswald:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/solid.css" integrity="sha384-yo370P8tRI3EbMVcDU+ziwsS/s62yNv3tgdMqDSsRSILohhnOrDNl142Df8wuHA+" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/brands.css" integrity="sha384-/feuykTegPRR7MxelAQ+2VUMibQwKyO6okSsWiblZAJhUSTF9QAVR0QLk6YwNURa" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/fontawesome.css" integrity="sha384-ijEtygNrZDKunAWYDdV3wAZWvTHSrGhdUfImfngIba35nhQ03lSNgfTJAKaGFjk2" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <header class="header-outer">
            <div class="header-inner">
                <h1 class="heading">
                    <a href="{{base_url}}" title="{{site_name}}">{{site_name}}</a>
                </h1>
                <button class="navbar-toggle" type="button" onclick="toggleNavbar()"><i class="fas fa-bars"></i></button>
                <div class="navbar-overlay hide" id="navbarOverlay" onclick="toggleNavbar()"></div>
                <nav class="navbar-outer slide-right" id="navbarContainer">
                    <ul class="navbar">
                        <li class="navbar-item"><a href="/" class="navbar-link">Home</a></li>
                        <li class="navbar-item"><a href="/" class="navbar-link">About</a></li>
                        <li class="navbar-item"><a href="/" class="navbar-link">Disclaimer</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main-outer">
            <div class="header-break"></div>
            <div class="main-inner">
                <section class="section-outer">
                    <article class="article-outer">
                        <div class="article-header">
                            <h2 class="article-title"><a href="/">Lorem Ipsum</a></h2>
                            <div class="article-subheader">
                                Diposting pada 11 Agustus 2018, 11:08
                            </div>
                        </div>
                        <div class="article-preview">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper arcu tincidunt, condimentum erat et, viverra nisi. Praesent ullamcorper sapien et sem elementum iaculis. Nulla eget dolor justo. Vestibulum vel augue luctus, suscipit dolor id, pretium
                                nisi. Curabitur nec bibendum magna, quis volutpat ligula. Aenean quis semper massa, ac iaculis leo. Nunc luctus efficitur lorem, in imperdiet neque molestie vel. Mauris id arcu nec ante ullamcorper aliquet. Sed ut purus
                                diam. Vivamus a felis vitae erat tincidunt hendrerit.
                            </p>
                        </div>
                        <a href="/" class="article-read-more">Selengkapnya &raquo;</a>
                    </article>
                    <article class="article-outer">
                        <div class="article-header">
                            <h2 class="article-title"><a href="/">Lorem Ipsum</a></h2>
                            <div class="article-subheader">
                                Diposting pada 11 Agustus 2018, 11:08
                            </div>
                        </div>
                        <div class="article-preview">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper arcu tincidunt, condimentum erat et, viverra nisi. Praesent ullamcorper sapien et sem elementum iaculis. Nulla eget dolor justo. Vestibulum vel augue luctus, suscipit dolor id, pretium
                                nisi. Curabitur nec bibendum magna, quis volutpat ligula. Aenean quis semper massa, ac iaculis leo. Nunc luctus efficitur lorem, in imperdiet neque molestie vel. Mauris id arcu nec ante ullamcorper aliquet. Sed ut purus
                                diam. Vivamus a felis vitae erat tincidunt hendrerit.
                            </p>
                        </div>
                        <a href="/" class="article-read-more">Selengkapnya &raquo;</a>
                    </article>
                    <article class="article-outer">
                        <div class="article-header">
                            <h2 class="article-title"><a href="/">Lorem Ipsum</a></h2>
                            <div class="article-subheader">
                                Diposting pada 11 Agustus 2018, 11:08
                            </div>
                        </div>
                        <div class="article-preview">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper arcu tincidunt, condimentum erat et, viverra nisi. Praesent ullamcorper sapien et sem elementum iaculis. Nulla eget dolor justo. Vestibulum vel augue luctus, suscipit dolor id, pretium
                                nisi. Curabitur nec bibendum magna, quis volutpat ligula. Aenean quis semper massa, ac iaculis leo. Nunc luctus efficitur lorem, in imperdiet neque molestie vel. Mauris id arcu nec ante ullamcorper aliquet. Sed ut purus
                                diam. Vivamus a felis vitae erat tincidunt hendrerit.
                            </p>
                        </div>
                        <a href="/" class="article-read-more">Selengkapnya &raquo;</a>
                    </article>
                    <article class="article-outer">
                        <div class="article-header">
                            <h2 class="article-title"><a href="/">Lorem Ipsum</a></h2>
                            <div class="article-subheader">
                                Diposting pada 11 Agustus 2018, 11:08
                            </div>
                        </div>
                        <div class="article-preview">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi semper arcu tincidunt, condimentum erat et, viverra nisi. Praesent ullamcorper sapien et sem elementum iaculis. Nulla eget dolor justo. Vestibulum vel augue luctus, suscipit dolor id, pretium
                                nisi. Curabitur nec bibendum magna, quis volutpat ligula. Aenean quis semper massa, ac iaculis leo. Nunc luctus efficitur lorem, in imperdiet neque molestie vel. Mauris id arcu nec ante ullamcorper aliquet. Sed ut purus
                                diam. Vivamus a felis vitae erat tincidunt hendrerit.
                            </p>
                        </div>
                        <a href="/" class="article-read-more">Selengkapnya &raquo;</a>
                    </article>
                </section>
                <aside class="aside-outer">
                    <div class="profile">
                        <h3 class="title">Profil Saya</h3>
                        <div class="description">
                            <img src="https://picsum.photos/100" class="photo" />
                            <h4 class="name">Akbar Aditama</h4>
                            <span class="subtitle"><i class="fas fa-map-marker-alt"></i> Indonesia</span>
                        </div>
                        <div class="social-media">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-github"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                        </div>
                    </div>
                </aside>
            </div>
        </main>
        <footer class="footer-outer">
            <div class="footer-inner">
                <h6>&copy;2021 {{site_name}}</h6>
            </div>
        </footer>
    </div>
    <script>
        let navbarShowed = false;

        function toggleNavbar() {
            const navbarOverlay = document.getElementById("navbarOverlay");
            const navbarContainer = document.getElementById("navbarContainer");
            if (navbarShowed) {
                navbarShowed = false;
                navbarOverlay.classList.replace("show", "hide");
                navbarContainer.classList.replace("slide-left", "slide-right");
            } else {
                navbarShowed = true;
                navbarOverlay.classList.replace("hide", "show");
                navbarContainer.classList.replace("slide-right", "slide-left");
            }
        }
    </script>
</body>

</html>